.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


.left {
    float: left;
}
.right {
    float: right;
}
.w40 {
    width: 40%;
}
.w54 {
    width: 54%;
}



.input {
    background: #fff;
    padding: 5px 30px;
    border-radius: 25px;
    display: inline-block;
}
.input-field {
    text-indent: 5px;
    border: none;
    color: black;
    height: 40px;
    padding: 0;
    width: 100%;
}

.btn {
    background: black;
    color: #ffffff;
    height: 56px;
    border-radius: 28px;
    padding: 0 15px;
    text-align: center;
    line-height: 56px;
    border: none;
    transition: background .2s ;
}
.btn:hover {
    background: #333;
}
