.angels {
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    top: 0;
}
.angels-wrap {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}
.angel {
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    transition: transform .1s;
}
.angel-demon {
    background-image: url(../img/angel-demon.png);
    width: 255px;
    height: 386px;
    left: 0;
    top: 177px;
    transform: translate(-48px, 0);
}
.angel-demon:hover {
    transform: translate(-48px, 0) rotate(5deg)
}


.angel-jesus {
    background-image: url(../img/angel-jesus.png);
    width: 305px;
    height: 384px;
    right: 0;
    top: 170px;
    transform: translate(98px, 0);
}
.angel-jesus:hover {
    transform: translate(98px, 0) rotate(-5deg);
}

@media only screen and (max-width: 1260px) {
    .angel-demon {
        left: -50px;
    }
    .angel-jesus {
        right: -50px;
    }
}
@media only screen and (max-width: 1170px) {
    .angel-demon {
        left: -100px;
    }
    .angel-jesus {
        right: -100px;
    }
}
@media only screen and (max-width: 1080px) {
    .angel-demon {
        left: -140px;
    }
    .angel-jesus {
        right: -140px;
    }
}
@media only screen and (max-width: 970px) {
    .angels {
        display: none;
    }
}

.angel-stone {
    width: 68px;
    height: 97px;
    background-image: url(../img/angel-stone.png);
    top: 20px;
    left: 20px;
}
.angel-heart {
    width: 61px;
    height: 87px;
    background-image: url(../img/angel-heart.png);
    top: 20px;
    right: 20px;
}
.angel-hands {
    width: 107px;
    height: 203px;
    background-image: url(../img/angel-hands.png);
    left: 0;
    bottom: 0;
}