@keyframes UP-AND-DOWN {
    0%   { transform: translate(0, 0); }
    40%   { transform: translate(0, -25px); }
    /*50%   { transform: translate(0, -25px); }*/
    60%   { transform: translate(0, -25px); }
    90%   { transform: translate(0, 0px); }
    100%   { transform: translate(0, 0px); }
}
@keyframes SMALLBIG {
    0%   { transform: scale(1); }
    40%   { transform: scale(.9); }
    /*50%   { transform: translate(0, -25px); }*/
    60%   { transform: scale(.9); }
    90%   { transform: scale(1); }
    100%   { transform: scale(1); }
}
@keyframes FADEIN {
    from {opacity: 0}
    90% {opacity: 0}
    to {opacity: 1}
}

.cat {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 10;
    /*transition: transform .2s;*/
}

/*.cat:hover {*/
    /*transform: scale(1.1);*/
/*}*/
.cat-icon {
    background: url(../img/cat-info.png) no-repeat center center;
    background-size: 100% 100%;
    width: 20px;
    height: 21px;
    position: absolute;
    top: 7px;
    right: 0;
    z-index: 10;
    transition: transform .1s;
    cursor: pointer;
}
.cat-icon:hover {
    transform: scale(1.2)
}

.cat-box {
    position: relative;
    height: 104px;
    width: 153px;
}
.cat-cat {
    background: transparent url(../img/cat.png) no-repeat center center;
    background-size: 100% 100%;
    width: 153px;
    height: 91px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    /*transition: transform .5s cubic-bezier(0.755, 0.05, 0.855, 0.06);*/
    transition: transform .5s;
    animation: UP-AND-DOWN 2s infinite;
}
.cat-shadow {
    background: transparent url(../img/cat-shadow.png) no-repeat center center;
    background-size: 100% 100%;
    width: 120px;
    height: 26px;
    position: absolute;
    bottom: 0;
    left: 9%;
    z-index: 2;
    animation: SMALLBIG 2s infinite;
}
.cat-quote {
    background: transparent url(../img/cat-quote.png) no-repeat center center;
    background-size: 100% 100%;
    width: 202px;
    height: 98px;
    font-size: 12px;
    line-height: 1.2;
    font-style: normal;
    position: absolute;
    top: -23px;
    left: -163px;
    padding: 14% 17%;
    box-sizing: border-box;
    animation: FADEIN 8s;
}