.countrylist {
    margin: 35px auto;
    text-align: center;
}
.countrylist-country {
    display: inline-block;
    width: 13%;
    position: relative;
    padding: 0 0 50px;
    text-decoration: none;
    color: black;
    text-align: center;
}
.countrylist-country:hover {
    cursor: pointer;
}
.countrylist-picture {
    background: transparent url(../img/country-picture.png) no-repeat top left;
    background-size: 100%;
    width: 147px;
    height: 147px;
    margin: 0 auto 20px;
    transition: transform .15s;
}
.countrylist-img {
    display: block;
    width: 95%;
    height: 95%;
    border-radius: 70px;
    position: relative;
    top: 4px;
    left: 3px;
    transition: transform .15s;
}


.countrylist-title {
    margin: 0 auto;
    /*width: 125px;*/
    /*height: 34px;*/
    background: transparent url(../img/country-title.png) no-repeat top left;
    background-size: 100% 100%;
    text-align: center;
    display: inline-block;
    padding: 8px 18px 1px;
}

.countrylist-text {
    font-size: 23px;
    font-weight: bold;
    line-height: 1.0;
    white-space: nowrap;
    color: black;
    transition: color .15s;
}
.countrylist-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 34px;
    background: transparent url(../img/countrylist-shadow.png) no-repeat top center;
    background-size: 100%;
    transition: opacity .15s, transform .15s;
}
.countrylist-country:hover .countrylist-img {
    transform: scale(.95)
}
.countrylist-country:hover .countrylist-picture {
    transform: scale(1.05)
}
.countrylist-country:hover .countrylist-shadow {
    opacity: .85;
    transform: scale(1.15)
}
.countrylist-country:hover .countrylist-text {
    color: #e91c31;
}


@media only screen and (max-width: 1200px) {
    .countrylist-picture {
        width: 130px;
        height: 130px;
    }
    .countrylist-title {
        padding: 5px 18px 0;
    }
    .countrylist-text {
        font-size: 19px;
    }
}
@media only screen and (max-width: 1090px) {
    .countrylist-picture {
        width: 100px;
        height: 100px;
    }
    .countrylist-img {
        top: 3px;
        left: 2px;
    }
    .countrylist-title {
        padding: 3px 18px 0;
    }
    .countrylist-text {
        font-size: 16px;
    }
}
@media only screen and (max-width: 860px) {
    .countrylist-country {
        width: 24%;
    }
    .countrylist-picture {
        width: 147px;
        height: 147px;
    }
    .countrylist-img {
        top: 4px;
        left: 3px;
    }
    .countrylist-title {
        padding: 8px 23px 0;
    }
    .countrylist-text {
        font-size: 23px;
    }
}
@media only screen and (max-width: 700px) {
    .countrylist-picture {
        width: 100px;
        height: 100px;
    }
    .countrylist-img {
        top: 3px;
        left: 2px;
    }
    .countrylist-title {
        padding: 3px 16px 0;
    }
    .countrylist-text {
        font-size: 16px;
        font-weight: normal;
    }
}