.header {
    background: #fff url(../img/bg-top-pattern.jpg) repeat-x left 148px;
}
.header-container {
    background: transparent url(../img/bg-top.jpg) no-repeat center 149px;
    min-height: 209px;
    position: relative;
    text-align: center;
}
.header-logo {}
.header-banner {
    background: url(../img/header-banner.png) no-repeat top left;
    background-size: 100% 100%;
    /*margin: 0 auto;*/

    position: absolute;
    bottom: -41px;
    left: 50%;
    width: 694px;
    height: 236px;
    margin-left: -347px;

}
.header-title {
    position: absolute;
    bottom: 85px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
}
