.logo {
    position: relative;
    z-index: 2;
    display: inline-block;
    margin-top: 30px;
    transition: transform .2s;
}
.logo:hover {
    transform: scale(1.02);
}
.logo-img {
    display: inline-block;
    width: 247.501px;
    height: 60px;
    background-image: url(../img/logo.svg);
}
