.measure {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 12px 0;
}
.measure-measure {
    width: 271px;
    height: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    display: inline-block;
}
.measure-step1 {
    background-image: url(../img/measure-step1.png);
}
.measure-step2 {
    background-image: url(../img/measure-step2.png);
}
.measure-title {
    color: #ffffff;
}