.wf-loading .wrapper,
.wf-loading .angels,
.wf-loading .footer
{
    visibility: hidden;
}
.wf-loading .cat {
    top: 50%;
    margin-top: -75px;
    left: 50%;
    margin-left: -52px;
}

html, body {
    height: 100%;
}

body {
    background: #c61122 url(../img/bg-pattern.png) repeat-y center center;
    position: relative;
    font-family: 'warnock-pro', Georgia, serif;
    overflow-x: hidden;
    min-width: 600px;
}

@media only screen and (max-width: 600px) {
    body {
        overflow-x: visible;
    }
}
.wrapper {
    background: url(../img/noise.png) repeat 250px center;
    position: relative;
    padding: 0 0 20px;
    /*max-width: 1600px;*/

    min-height: 100%;
    margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.footer {
    position: relative;
}

.footer, .push {
    height: 100px; /* '.push' must be the same height as 'footer' */
}

.container {
    margin: 0 auto;
}
.container-wide {
    max-width: 1357px;
}
.container-thin {
    max-width: 825px;
}







/* STEP 2 content */
.title {
    color: white;
    font-size: 37px;
    margin: 24px 0 20px;
    font-weight: bold;
    text-align: center;
}
.text {
    color: white;
    font-size: 19px;
    line-height: 1.58;
    margin: 0 40px 20px;
    text-align: justify;
}

.text p {
    margin: 0 0 8px;
}

.alert {
    background: yellow;
    color: #333;
    text-align: center;
    font-size: 37px;
    font-weight: bold;
    line-height: 1.375;
    margin: 50px 0 20px;
    padding: 0 0 5px;
    border-radius: 8px;
}

@media only screen and (max-width: 889px) {
    .container-thin {
        max-width: 600px;
    }
    .title {
        font-size: 27px;
    }
    .text {
        font-size: 17px;
    }
    .alert {
        font-size: 27px;
    }
}






/* STEP 1 content */
.complextitle {
    color: white;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
.complextitle b {
    background: white;
    color: #e73647;
    padding: 0 15px;
    font-weight: normal;
}

.title3 {
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
}

@media only screen and (max-width: 1250px) {
    .complextitle {
        font-size: 38px;
    }
}
@media only screen and (max-width: 1138px) {
    .complextitle {
        font-size: 31px;
    }
}
@media only screen and (max-width: 970px) {
    .complextitle {
        font-size: 26px;
    }
    .title3 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 820px) {
    .complextitle {
        font-size: 22px;
    }
    .title3 {
        font-size: 15px;
    }
}
@media only screen and (max-width: 720px) {
    .complextitle {
        font-size: 18px;
    }
    .title3 {
        font-size: 12px;
    }
}