@keyframes SPIN {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.share {}
.share-title {
    text-align: center;
    color: white;
}
.share-row {
    text-align: center;
}
.share-link {
    display: inline-block;
    width: 25%;
    text-align: center;
    padding: 15px 0;
    animation: SPIN 1s;
}
@media only screen and (max-width: 889px) {
    .share-link {
        transform: scale(0.78);
    }
}
.share-icon {
    width: 78px;
    height: 78px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    transition: linear transform .1s;
}
.share-icon:hover {
    transform: scale(1.05)
}
.share-icon-tw {
    background-image: url(../img/share-tw.png);
}
.share-icon-vk {
    background-image: url(../img/share-vk.png);
}
.share-icon-fb {
    background-image: url(../img/share-fb.png);
}