
.subscribe {}
.subscribe-title {
    text-align: center;
    color: white;
}
.subscribe-form {
    position: relative;
    padding-top: 3px;
    margin-top: 30px;
}
.subscribe-input {
    padding-right: 66px;
    display: block;
    margin-right: 60px;
}
.subscribe-btn {
    position: absolute;
    right: 10px;
    top: 0;
}
